#mainB{
    border: 5px solid black;
    padding: 10px;   
    width: 250px;
    border-radius: 30px;
    background-color: darkgray;
    box-shadow: 0 0 40px 10px rgb(72, 46, 46);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h1{
    text-align: center;
}
#mainB button{
    margin: 9px;
}
#mainB button:active{
    background-color: white;
    color: black;
}
input{
    height: 50px;
    width: 215px;
    border-radius: 20px;
    background-color: azure;
}
button{
    border-color: transparent;
    background-color: rgb(14, 21, 2);
    color: white;
    border-radius: 100px;
    height: 30px;
    width: 35px;
}